<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>

        <title></title>
    </head>
    <body>
        <main id=grid_container>
            <button id="btn1" data-value="green" class='btn btn-light'>Green</button>
            <button id="btn2" data-value="blue" class='btn btn-light'>Blue</button>
            <button id="btn3" data-value="pink" class='btn btn-light'>Pink</button>

        </main>
    </body>
</html>